<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: page-header"></header>

<div class="container">
    <h1>Let's find the perfect place for you to eat.</h1>

    <form method="get">
        <div class="form-group">
            <label for="cuisine">I'm craving</label>
            <select class="form-control" id="cuisine" name="cuisine">
                <option value="tradamerican">American (Traditional)</option>
                <option value="bbq">BBQ</option>
                <option value="brazilian">Brazilian</option>
                <option value="breakfast_brunch">Breakfast & Brunch</option>
                <option value="burgers">Burgers</option>
                <option value="cafes">Cafe</option>
                <option value="cajun">Cajun/Creole</option>
                <option value="caribbean">Caribbean</option>
                <option value="chicken_wings">Hot Wings</option>
                <option value="chinese">Chinese</option>
                <option value="comfortfood">Comfort Food</option>
                <option value="delis">Delis</option>
                <option value="diners">Diners</option>
                <option value="hotdogs">Fast Food</option>
                <option value="gastropubs">Gastropubs</option>
                <option value="greek">Greek</option>
                <option value="indpak">Indian</option>
                <option value="italian">Italian</option>
                <option value="japanese">Japanese</option>
                <option value="korean">Korean</option>
                <option value="mediterranean">Mediterranean</option>
                <option value="mexican">Mexican</option>
                <option value="pizza">Pizza</option>
                <option value="seafood">Seafood</option>
                <option value="soulfood">Soul Food</option>
                <option value="southern">Southern</option>
                <option value="steak">steak</option>
                <option value="sushi">Sushi</option>
                <option value="tapas">Tapas</option>
                <option value="tex-mex">Tex-Mex</option>
                <option value="thai">Thai</option>
                <option value="vegan">Vegan</option>
                <option value="vietnamese">Vietnamese</option>
            </select>
            <span class="error"></span>
        </div>

        <div class="form-group">
            <label for="distance">within</label>
            <select class="form-control" id="distance" name="distance">
                <option value="8046">5</option>
                <option value="16093.4">10</option>
                <option value="24140">15</option>
                <option value="32186">20</option>
                <option value="40233">25</option>
            </select>
            <span class="error"></span>
        </div>

        <div class="form-group">
            <label for="zip">miles of</label>
            <input class="form-control" type="text" id="zip" name="zip"/>
            <span class="error"></span>
        </div>

        <div class="form-group">
            <label for="price">in the price range of</label>
            <select class="form-control" id="price" name="price">
                <option value="1">$</option>
                <option value="2">$$</option>
                <option value="3">$$$</option>
                <option value="4">$$$$</option>
            </select>
            <span class="error"></span>
        </div>

        <input type="submit" class="btn btn-primary" value="Give me all of my options" />
        <input type="submit" class="btn btn-primary" value="Surprise me!" />


    </form>

</div>

</body>
</html>