<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: page-header"></header>

<div class="container">
    <h1>Register</h1>

    <form method="post">
        <div class="form-group">
            <label>Username
                <input class="form-control" type="text"/>
            </label>
        </div>
        <div class="form-group">
            <label>Password
                <input class="form-control" type="text"/>
            </label>
        </div>
        <div class="form-group">
            <label>Verify Password
                <input class="form-control" type="text"/>
            </label>
        </div>
        <input type="submit" class="btn btn-primary" value="Register"/>

    </form>
</div>

</body>
</html>